<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>New Password</title>
</head>
<body>
    <div class="auth-wrapper">
        <div class="glass-card">
            <h2>Set New Password</h2>
            <form th:action="@{/reset-password}" method="post">
                <input type="hidden" name="token" th:value="${token}">
                <input type="password" name="password" placeholder="Enter New Password" required>
                <button type="submit" class="btn-primary">Update Password</button>
            </form>
        </div>
    </div>
</body>
</html>